/*backgroun-image*/
body {
    background-image: url(https://bbvaopen4u.com/sites/default/files/styles/teaser/public/img/new/bbva-open4u-javascript.jpg?itok=Lh7f8peG);
    background-color: yellow;
    background-repeat: no-repeat;
}