/*clase 2 selectores css*/
.title {
    background: yellow;
    color: white;
}


.descripcion {
    background: green;
    color: white;
}

.bold{
    font-weight: bold;
}

.center{
    text-align: center;
}

