/*Estructura de las listas*/

body {
    font-size: 1em;
    padding: 1em;

}

ul , ol{
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

li{
    border: 1px solid red;
    margin-bottom: 10px;
}


span {
    display: list-item;
}