/*bordes*/

/*esto se considera una buena practica
utilizar siempre en el css */
* ,*::before , *::after {
    box-sizing: border-box;
}

.box {
    width: 300px;
    height: 300px;
    background: red;
    color: green;
    /* background-clip: padding-box; */
    /* margin: 100px auto; */
    margin-top: 100px;
    margin-right: auto;
    /* margin-bottom: 100px; */
    margin-left: auto;

    /*el border tiene tres propiedades*/
    /* border-width: 10px;
    border-style: solid;
    border-color: green; */

    /*propiedades reales */
    /* border-top-style:solid ;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid; */

    /* border-width: 20px;
    border-style: solid dotted dashed double; */
    border-style: solid;

    /* border:  10px solid black; */
    
}