.container {
    display: grid;
    height: 300px;
    background: yellow;
    font-size: 2em;


    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;

}

.item{
    background: pink;
}

.item:nth-child(even){
    background: cyan;
}