/* pseudoElementos */

body {
    font-size: 1.5em;
    /* text-align: center; */
    margin: 1em;
}

/* p::first-letter {
    color: red;
}  */
p:last-child::first-letter {
    color: red;
    font-size: 2em;
    margin-right: .1em;
    float: left;
    line-height: 1;
    font-family: serif;
}