/*Estructura de las listas*/


/* :root{

} */

body{
    font-size: 1.5em;

}

.chapters{
    counter-reset: chapters;

}

.chapter{
    counter-increment: chapter;
}

.chapter::before{
    content: counter(chapter) '.';
    color: red;
    margin-right: .25em;
}