
body{
    font-family: 'Times New Roman', Times, serif;
}


p{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 3px;
    line-height: 36px;
}


h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-style: italic;
    font-weight: normal;
    color: #4281cd;
    text-align: right;
    text-decoration: underline;
    text-transform: capitalize;
}