.container {
    display: grid;
    height: 300px;
    background: yellow;
    font-size: 2em;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10% 60% 30%;
}

.item{
    background: pink;
}

.item:nth-child(even){
    background: cyan;
}